/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: 'Sofia Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


@tailwind components;

@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cubano', sans-serif;
}

h1{
  font-size: 3.2em;
  line-height: 1em;
}
